/*
 * popular
 */
.popular {
  padding: 30px;
}
.popular__label {
  margin-bottom: 8px;
}

/*
 * popular item
 */

.popular-item__thumbnail {
  align-items: center;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  width: 100%;
}

.popular-item__title p {
  color: var(--text-color);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.popular-item__title p:hover {
  color: #34d9a2;
}

.popular-item__title a {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.popular-item__source {
  color: var(--date-color);
}

/* 
   Responsive
*/

@media screen and (min-width: 600px) {
  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .popular {
    max-width: 1500px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
