/*
 * similiar
 */
.similiar {
  padding: 30px;
}
.similiar__label {
  margin-bottom: 8px;
}

/*
 * similiar item
 */

/* .similiar-item__content {
  display: flex;
  padding: 16px;
} */

.similiar-item__thumbnail {
  align-items: center;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  width: 100%;
}

.similiar-item__title {
  font-size: 14px;
  color: var(--font-color);
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 16px;
}

/* .similiar-item__rating {
  color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  margin-left: auto;
  font-weight: 500;
} */
