.color-blur-1{
    position: absolute;
    width: 438px;
    height: 494px;
    left: 0%;
    top: -39%;
    background: #82FFD2;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
    z-index: 0;
}

.color-blur-2{
    position: absolute;
    width: 438px;
    height: 494px;
    left: -27%;
    top: -14%;

    background: #82F7FF;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
    z-index: 0;
}