@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background: #ffffff;
  --background-grey: #413f42;
  --text-hover: #81c6e8;
  --date-color: #aaa;
  --text-color: #1b1c57;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
  font-size: 12px;
}

.title-app__header {
  text-align: center;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-top: 3%;
  color: #1b1c57;
}

.login-item {
  display: flex;
  width: 100%;
  margin-top: 3%;
}

.login-logo {
  width: 40%;
  margin-left: 15%;
}

.login-logo__item img {
  width: 600px;
  height: 350px;
}

.login-logo__item h2 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #1c1d21;
  margin-top: 10px;
  margin-left: 20px;
}

.login-logo__item p {
  width: 500px;
  height: 76px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
  margin-left: 20px;
}

.login-form {
  background: rgba(68, 255, 193, 0.2);
  border-radius: 35px;
  height: 480px;
  margin-left: 50px;
}

.login-form__content {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.title-login__item {
  font-family: 'Lexend';

  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.create-account__item {
  font-size: 14px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;

  line-height: 25px;
  text-align: center;
  color: #000000;
}

.login-form__item {
  margin-top: 50px;
}

.login-form__item h5 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-top: 30px;
  font-weight: bold;
}

.login-form__item input {
  width: 394px;
  height: 52px;
  left: 903px;
  top: 437px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 5px;
  font-weight: 900;
  padding: 15px;
}

.login-btn {
  width: 200px;
  height: 40px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  background: #1b1c57;
  border: 1px solid #1b1c57;
  border-radius: 30px;
  color: #fefefe;
  position: absolute;
  margin-left: 105px;
  margin-top: 40px;
}

.register-item {
  display: flex;
  width: 100%;
  margin-top: 3%;
}

.register-logo {
  width: 40%;
  margin-left: 15%;
}

.register-logo__item img {
  width: 600px;
  height: 350px;
}

.register-logo__item h2 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #1c1d21;
  margin-top: 10px;
  margin-left: 20px;
}

.register-logo__item p {
  width: 500px;
  height: 76px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
  margin-left: 20px;
}

.register-form {
  background: rgba(68, 255, 193, 0.2);
  border-radius: 35px;
  height: 530px;
  margin-left: 50px;
}

.register-form__content {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.title-register__item {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.have-account__item {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.register-form__item {
  margin-top: 20px;
}

.register-form__item h5 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-top: 30px;
  font-weight: bold;
}

.register-form__item input {
  width: 394px;
  height: 52px;
  left: 903px;
  top: 437px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 5px;
  font-weight: 900;
  padding: 15px;
}

.register-btn {
  width: 200px;
  height: 40px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  background: #1b1c57;
  border: 1px solid #1b1c57;
  border-radius: 30px;
  color: #fefefe;
  position: absolute;
  margin-left: 105px;
  margin-top: 40px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
