@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background: #ffffff;
  --background-grey: #413f42;
  --text-hover: #81c6e8;
  --date-color: #aaa;
  --text-color: #1b1c57;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
  font-size: 12px;
}

/*
 * pages
 */

.pages {
  width: 100%;
  margin: 0 auto;
}
