.navbar {
  background-color: transparent;
  padding: 2rem !important;
  z-index: 2;
}

.navbar .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #1b1c57;
}

.navbar .navbar-collapse {
  justify-content: flex-end;
}

.navbar .navbar-nav {
  gap: 2rem;
}

.navbar .navbar-nav .nav-item {
  background: #fff;
  border-radius: 32px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link {
  border-radius: 32px;
  padding: 0.4rem 18px;
}

.navbar .navbar-nav .nav-item.link-sign {
  background: #ffffff;
  margin-left: 1.5rem;
}

.navbar .navbar-nav .nav-item.link-sign .nav-link {
  color: #1b1c57 !important;
  margin: 0 0.5rem;
}
