.form-input {
  margin-top: 4rem;
}

.form-input h2 {
  text-align: center;
}

.recipe-input__image {
  padding: 20px;
  height: 300px;
}

.recipe-input__image-box {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-input {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.recipe-input input,
.recipe-input textarea {
  display: block;
  width: 100%;
}

.recipe-input__title {
  font-weight: bold;
}

.recipe-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: var(--date-color);
}

.recipe-input__body {
  min-height: 175px;
}

.recipe-input button {
  margin-top: 10px;
  display: block;
  width: 100px;
  padding: 8px;
  background-color: #7acbbb;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  border: 1px solid var(--date-color);
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.recipe-input button:hover {
  color: #edf2ea;
}

textarea {
  height: 250px;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: #dafff3;
  color: var(--text-color);
  border: 1px solid #34d9a2;
  border-radius: 20px;
}

input::placeholder,
textarea::placeholder {
  color: var(--date-color);
  font-weight: bold;
}

/* 
   Responsive
*/

@media screen and (min-width: 1000px) {
  .recipe-input {
    padding: 30px;
    display: flex;
  }

  .recipe-input__image {
    width: 400px;
    height: 450px;
  }

  .recipe-input__image-box {
    width: 400px;
  }

  .recipe-input__form {
    width: 100%;
    margin-left: 50px;
  }
}
