.login-page {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.login-input {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.login-input input {
  display: block;
  padding: 16px;
  width: 100%;
  margin: 8px 0;
  font-size: 20px;
  background-color: transparent;
  border: 2px dashed var(--text-color);
  border-radius: 10px;
}

.login-input button {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: var(--text-color);
  border: 1px solid var(--date-color);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.login-input button:hover {
  background-color: var(--text-color);
  color: var(--background);
}

.login-form__item {
  margin-top: 50px;
}

.login-form__item h5 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-top: 30px;
  font-weight: bold;
}

.login-form__item input {
  width: 394px;
  height: 52px;
  left: 903px;
  top: 437px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 5px;
  font-weight: 900;
  padding: 15px;
}

.login-btn {
  width: 200px;
  height: 40px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  background: #1b1c57;
  border: 1px solid #1b1c57;
  border-radius: 30px;
  color: #fefefe;
  margin-left: 105px;
  margin-top: 40px;
}


.title-app__header {
  text-align: center;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-top: 3%;
  color: #1b1c57;
}

.login-item {
  display: flex;
  width: 100%;
  margin-top: 3%;
}

.login-logo {
  width: 40%;
  margin-left: 15%;
}

.login-logo__item img {
  width: 600px;
  height: 350px;
}

.login-logo__item h2 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #1c1d21;
  margin-top: 10px;
  margin-left: 20px;
}

.login-logo__item p {
  width: 500px;
  height: 76px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
  margin-left: 20px;
}

.login-form {
  background: rgba(68, 255, 193, 0.2);
  border-radius: 35px;
  height: 480px;
}

.login-form__content {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.title-login__item {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.create-account__item {
  font-size: 14px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;

  line-height: 25px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .login-logo img {
    width: 80%;
    height: 80%;
  }
  .login-form {
    width: 60%;
    padding-bottom: 20px;
  }
  .login-form__item input {
    width: 100%;
    height: max-content;
  }
  .login-btn {
    width: 100%;
    margin-left: 0!important;
    margin-top: 10px!important;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 1200px) {
  .login-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-logo {
    margin-left: 0!important;
    width: auto!important;
  }
  .login-logo__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    align-items: center;
  }
  .login-logo p {
    width: auto!important;
    margin: 0;
    object-fit: fill;
    max-width: 660px;
  }
  .login-logo__item img {
    margin: 0 auto!important;
    justify-content: center;
  }
  .login-logo__form {
    width: 100%!important;
  }
}
