.myrecipes-detail {
  padding: 30px;
}

.myrecipes-detail__image {
  padding: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

.myrecipes-detail__image-box {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.myrecipes-detail__createdAt {
  color: var(--date-color);
  font-size: 12px;
  margin-bottom: 5px;
}

.myrecipes-detail__body {
  padding: 20px;
  background-color: #dafff3;
  margin-bottom: 20px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.myrecipes-detail h4 {
  margin-bottom: 10px;
}

/* 
   Responsive
*/

@media screen and (min-width: 600px) {
  .similiar-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .similiar-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .myrecipes-detail__content {
    display: flex;
    width: 100%;
    gap: 50px;
  }

  .myrecipes-detail__title {
    margin-top: 50px;
    font-size: 40px;
  }

  .myrecipes-detail {
    max-width: 1500px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .similiar {
    max-width: 1500px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .similiar-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
