.featured-section {
  margin-top: 15rem !important;
  margin-bottom: 10rem;
}
.featured-section .card-img-top {
  border-radius: 12px;
  height: 275px;
  object-fit: cover;
}
.featured-section .our-recomend{
  text-transform: capitalize;
  color: #F59E0B;
  font-weight: 600;
  font-size: 14px;
}
.featured-section .our-recomend::before{
  content: '';
  width: 25px;
  height: 2px;
  background-color: #F59E0B;
  left: -35px;
  top: 8px;
  position: absolute;
}

.featured-section .featured-title {
  font-weight: 600;
  font-size: 28px;
  text-transform: capitalize;
  color: var(--text-color);
  text-shadow: -1px 0px 0px var(--text-color), 1px 0px 0px var(--text-color),
    0px -1px 0px var(--text-color), 0px 1px 0px var(--text-color);
}

.featured-section .btn-featured{
  font-size: 14px;
  background-color: #fff;
  color: #10b981;
  border : 1px solid #10b981;
  border-radius: 32px;
  padding: 6px 20px;
}
.featured-section .btn-featured.active-btn{
  background-color: #10b981 !important;
  color: #fff !important;
  border: none !important;
}
.featured-section .btn-featured:hover{
  color: #fff;
  background-color: #10b981;
  border : 1px solid #10b981;
}

.featured-section .swiper-button-next,
.featured-section .swiper-button-prev {
  background-color: #10b981 !important;
  color: #fff;
  top: -40px;
  border-radius: 32px;
  padding: 0 16px;
  width: 50px;
  height: 42px;
}
.featured-section .swiper-button-next {
  right: 0;
}
.featured-section .swiper-button-prev {
  left: calc(100% - 110px);
}

.featured-section .swiper-button-next:after,
.featured-section .swiper-button-prev:after {
  font-size: 0.95rem;
}

.featured-section .btn-featured-recipe{
  font-size: 0.8rem;
  border-radius: 16px;
  padding: 5px 12px;
  background-color: #10b981;
  border: none;
}

.featured-section .btn-featured-recipe:hover{
  background-color: #10b981;
  transform: translateY(-3px);
}
.featured-section .swiper {
  overflow-x: clip !important;
  overflow: visible;
}

