.hero-section .hero-text {
  z-index: 1;
}
.hero-section .hero-title {
  font-weight: 600;
  font-size: 40px;
  text-transform: capitalize;
  color: var(--text-color);
  text-shadow: -1px 0px 0px var(--text-color), 1px 0px 0px var(--text-color), 0px -1px 0px var(--text-color), 0px 1px 0px var(--text-color);
}

.hero-section .hero-title span {
  text-shadow: -1px 0px 0px var(--text-color), 1px 0px 0px var(--text-color), 0px -1px 0px var(--text-color), 0px 1px 0px var(--text-color);
  color: white;
}

.hero-section .hero-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.hero-section .icon-loc {
  position: absolute;
  z-index: 6;
  font-size: 18px;
  left: 13px;
  color: #f59e0b;
  top: 4px;
}

.hero-section .input-group input {
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #e0e3eb;
  border-radius: 32px !important;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  margin: 0 -1rem 0 0;
}
.hero-section .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.hero-section .input-group button {
  font-weight: 600;
  font-size: 14px;
  border-radius: 32px;
  background: #10b981;
  color: #ffffff;
  z-index: 5;
  padding: 0.5rem 0.75rem;
}

.hero-section .input-group-append {
  margin-left: -15px !important;
}

.hero-section .img-fluid {
  position: absolute;
  top: 0%;
  left: 47%;
  max-width: 2000px;
  width: 65%;
  overflow: hidden;
  z-index: 1;
  border-radius: 0 0 0 75px;
}
