.subscribe-section {
  margin-top: 8rem;
  margin-bottom: 10rem;
  background-image: url('../../subscribe.jpeg');
  border-radius: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.subscribe-section h2 {
  font-weight: 600;
  font-size: 28px;
  text-transform: capitalize;
  color: var(--text-color);
  text-shadow: -1px 0px 0px var(--text-color), 1px 0px 0px var(--text-color), 0px -1px 0px var(--text-color), 0px 1px 0px var(--text-color);
}

.subscribe-section p {
  font-size: 18px;
  color: #1b1c57;
}

.subscribe-section .icon-loc {
  position: absolute;
  z-index: 6;
  font-size: 18px;
  left: 25px;
  color: #f59e0b;
  top: 4px;
}

.subscribe-section .input-group input {
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #e0e3eb;
  border-radius: 32px !important;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  margin: 0 -1rem 0 0;
}
.subscribe-section .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.subscribe-section button {
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  border-radius: 32px;
  background: #10b981;
  color: #ffffff;
  z-index: 5;
  padding: 0.5rem 0.75rem;
}

.subscribe-section button:hover {
  background: #102fb9;
}
