.note-item__delete-button {
  border-radius: 32px;
  font-size: 15px;
  background-color: rgb(253, 0, 0);
  cursor: pointer;
  color: white;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 30px;
}

.note-item__delete-button:hover {
  background-color: rgb(197, 31, 31);
}
